@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* -webkit-app-region: drag */
}

@font-face {
    font-family: 'roboto';
    src: url('../public/fonts/Roboto-Regular.ttf');
}

@layer components {
    .form-input {
        @apply form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray
        bg-white bg-clip-padding
        border border-solid border-gray
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray focus:bg-white focus:border-secondary focus:outline-none;
    }
    .checkbox {
        @apply form-check-input
        appearance-none
        h-4
        w-4
        border
        border-gray
        rounded-sm
        bg-white
        checked:bg-secondary
        checked:border-secondary
        focus:outline-none
        transition
        duration-200
        mt-1
        align-top
        bg-no-repeat
        bg-center
        bg-contain
        float-left
        mr-2
        cursor-pointer
    }

    .form-button {
        @apply inline-block
        px-6 py-2.5
        bg-secondary
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        /*hover:bg-blue-700 */
        hover:shadow-lg
        /*focus:bg-blue-700 */
        focus:shadow-lg
        focus:outline-none
        focus:ring-0
        /*active:bg-blue-800 */
        active:shadow-lg
        transition
        duration-150
        ease-in-out;
    }
}

@layer components {
    .form-label {
        @apply inline-block my-2;
    }
}
